@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}

html, body {
	text-align: center;
	color:#FFF;
	background-color:#45616F;
}
p, h4, h3 {
	margin-left: 15%;
	margin-right: 15%;
}
h4 {
	font-size: 22px;
}

/* Navigation Bar */
.navbar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #45616F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #45616F;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #45616F;
}

.navbar-toggle {
	margin-left: 4%;
	background-color:#fff;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #45616F;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45616F;
    text-decoration:underline;
}
.navbar li {
	font-family:'Roboto-Thin';
	font-size: 20px;
}
/*Styling of the expanded navbar*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
	.navbar-nav {
	    float: left;
	    margin-left: 7%;
	}
	.navbar-right {
    	float: right!important;
    	margin-right: 7%;
    	margin-left: 0%;
	}
}
/*Some styling of the collapsed navbar*/
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-right {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}
/*--------------------------------------------------------*/

h3 {
	text-decoration:underline;
	font-family: 'Roboto';
	font-size: 34px;
	margin-bottom: 2.5%;
}

/*About Me*/
p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	padding-top:2%;
}
#title {
	opacity:0;
	font-family: 'Roboto';
	font-size: 50px;
	padding-top:1%;
}
.main {
	opacity:0;
	margin-bottom: 1%;
}

.content {
	opacity:0;
	overflow:auto;
	margin-bottom: 2.5%;
}
@media (min-width: 768px) {
	#piano {
		margin-left:3%;
		margin-top: 2%;
		margin-right: 15%;
		margin-bottom: 2%;
		float:right;
		width: 40%;
	}
}
@media (max-width: 768px) {
	#piano {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	p, h4, h3 {
		margin-left: 5%;
		margin-right: 5%;
	}
}
/*--------------------------------------------------------*/

/*Awards and Achievements Section*/
#awards {
	opacity: 0;
	margin-bottom:2%;
}
#awards p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	margin-top: -1.8%;
	margin-bottom: 2.5%;		
}
/*--------------------------------------------------------*/

/*Volunteer Experience Section*/
#volunteer {
	padding-top:0.5%;
	opacity: 0;
}
#volunteer p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	margin-top: -1.8%;
	margin-bottom: 2.5%;	
}
/*--------------------------------------------------------*/

/*CSS for Scroll up Button*/
.up-button {
	clear: both;
	visibility:hidden;
	margin-right:5%;
	float:right;
	background-color: #FFF;
	border-color: #FFF;
}
.up-button:hover {
	background-color: #FFF;
	border-color: #FFF;
}
/*--------------------------------------------------------*/

/*
 * Footer
 */
 footer {
	font-family: 'Roboto';
	margin-top: 12%;
	margin-bottom: 2%;
	font-weight: 400;
	clear: both;
 }

@media(max-width: 768px) {
	h3 {
		font-size: 26px;
	}
	#awards p, #volunteer p {
		margin-top: 3%;
		margin-bottom: 5%;
	}
	#title {
		margin-bottom: 5%;
	}
	#topButton {
		padding:3%;
		margin-bottom: 5%;
	}
}

@media(min-width: 800px) {
	footer {
		font-size: 14px;
	}
}
@media(max-width: 800px) {
	footer {
		font-size: 12px;
	}
}