@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}
html, body {
	text-align: center;
	color:#FFF;
	background-color:#45616F;
}

/*Content*/
h1 {
	opacity: 0;
	font-family:'Roboto';
	font-size:50px;
	margin-bottom: 4vh;
}
.header {
	opacity: 0;
	margin-bottom: 6vh;
	font-family: 'Roboto-Thin';
	font-size: 19px;
}
.col-centered {
    display:inline-block;
    float:none;
}
#resumeLink {
	text-decoration:underline;
	color: #FFF;
}
#resumeLink:link, #resumeLink:visited {
    color: #FFF;
}
#resumeLink:hover {
	color:#333;
}
.info {
	opacity: 0;
	margin-bottom: 15vh;
}
.contact {
	font-family:'Roboto-Thin';
	font-size: 18px;
}
@media(min-width: 800px) {
	.icons img {
		width: 6vw;
		margin-left: 3%;
	}
	.desktop {
		display: block;
	}
	.desktop a {
		text-decoration: none;
	}
	.mobile {
		display: none;
	}
	footer {
		font-size: 14px;
	}
}
@media(max-width: 800px) {
	.contact {
		margin-bottom: 4vh;
	}
	.icons img {
		width: 12vw;
		margin-left: 3%;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	a:hover {
		color:#333;
	}
	footer {
		font-size: 12px;
	}
}

/*--------------------------------------------------------*/
footer {
	margin-bottom: 2vh;
	font-family: 'Roboto';
}

