@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}
html, body {
	text-align: center;
	color:#FFF;
	background-color:#45616F;
}
/*--------------------------------------------------------*/
/*Navbar Styling*/
.navbar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #45616F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #45616F;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #45616F;
}

.navbar-toggle {
	margin-left: 6%;
	background-color:#fff;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #45616F;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45616F;
    text-decoration:underline;
}
.navbar li {
	font-family:'Roboto-Thin';
	font-size:1.3vw;
}
/*Styling of the expanded navbar*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
	.navbar-nav {
	    float: left;
	    margin-left: 7%;
	}
	.navbar-right {
    	float: right!important;
    	margin-right: 7%;
    	margin-left: 0%;
	}
}
/*Some styling of the collapsed navbar*/
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-right {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}

/*--------------------------------------------------------*/

/*Content*/
h1 {
	opacity: 0;
	font-family:'Roboto';
	font-size:50px;
	clear:both;
	margin-bottom: 3%;
}
/*--------------------------------------------------------*/
.header {
	opacity: 0;
	margin-bottom: 4%;
	font-family: 'Roboto-Thin';
	font-size: 19px;
}
.col-centered {
    display:inline-block;
    float:none;
	margin-left: 10%;
	margin-right: 10%;
}
p {
	text-align: center;
	margin-bottom:1.5%;
}
#resumeLink {
	text-decoration:underline;
	color: #FFF;
}
#resumeLink:link, #resumeLink:visited {
    color: #FFF;
}
#resumeLink:hover {
	color:#333;
}

.info {
	margin-bottom: 5vh;
}

.contact {
	font-family:'Roboto-Thin';
	font-size: 18px;
	/*padding-left: 15%;*/
}
.contact p {
	text-align: center;
}
@media(min-width: 800px) {
	.icons img {
		width: 6vw;
		margin-left: 3%;
	}
}
@media(max-width: 800px) {
	.contact {
		margin-bottom: 4vh;
	}
	.icons img {
		width: 10vw;
		margin-left: 3%;
	}
}

footer {
	clear: both;
	margin-bottom: 2%;
	text-align:center;
	font-family: 'Roboto';
	font-size:16px;	
}

