@charset "utf-8";
/* CSS Document */
 
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:#45616F;
  color: #fff;
  text-align: center;
}

#home {
	margin-left:10%;
	float:left;
}
#end {
	margin-right:10%;
}
.navigation > li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:1.5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}
.navigation li a {
	text-decoration:none;
	color:#FFF;
}
.navigation li a:hover {
	text-decoration:underline;
}


/*
 * Homepage Content
 */

.heading {
	opacity:0;
	font-family: 'Roboto';
	font-weight: lighter;
	font-size: 2.5vw;
	word-spacing: 0.15px;
	margin-top: 1%;
	margin-bottom:1.5%;
}
.heading-title {
	opacity:0;
	font-family: 'Roboto-Thin';
	font-size: 1.6vw;
	font-variant: small-caps;
	font-weight: lighter;
	word-spacing: 0.01em;
}
.heading-description {
	opacity:0;
	font-family: 'Roboto-Thin';
	font-size: 1.4vw;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2.50%;
}

.col-centered {
    display:inline-block;
    float:none;
	margin-left: 10%;
	margin-right: 10%;
}

/*
 * Footer
 */
 footer {
	font-family: 'Roboto';
	font-size: 15px;
	margin-top: 12%;
	font-weight: 400;
 }

#Picture {
	margin-bottom: 2%;
	margin-top: 8%;
	border-radius: 100%;
	height: 150px;
	width: 145px;
	border: medium solid #DBDADA;
}
