@charset "utf-8";
/* CSS Document */
 
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}

/*
 * Base structure
 */

body {
  height: 100%;
  background-color:#45616F;
  color: #fff;
  text-align: center;
}

/*Navbar Styling*/
.navbar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #45616F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #45616F;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #45616F;
}

.navbar-toggle {
	margin-left: 4%;
	background-color:#fff;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #45616F;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45616F;
    text-decoration:underline;
}
.navbar li {
	font-family:'Roboto-Thin';
	font-size:1.3vw;
}
/*Styling of the expanded navbar*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
	.navbar-nav {
	    float: left;
	    margin-left: 7%;
	}
	.navbar-right {
    	float: right!important;
    	margin-right: 7%;
    	margin-left: 0%;
	}
}
/*Some styling of the collapsed navbar*/
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-right {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}

/*
 * Homepage Content Styling
 */

.heading {
	opacity: 0;
	font-family: 'Roboto';
	font-weight: lighter;
	font-size: 4vw;
	word-spacing: 0.15px;
	margin-top: 1%;
	margin-bottom:1.5%;
}
.heading-title {
	opacity: 0;
	font-family: 'Roboto-Thin';
	font-size: 2.3vw;
	font-variant: small-caps;
	font-weight: lighter;
	word-spacing: 0.01em;
}
.heading-description {
	opacity: 0;
	font-family: 'Roboto-Thin';
	font-size: 1.4vw;
	margin-top: 2.50%;
	margin-left: 5%;
	margin-right: 5%;
}

.col-centered {
    display:inline-block;
    float:none;
	margin-left: 10%;
	margin-right: 10%;
}

/*
 * Footer
 */
 footer {
	font-family: 'Roboto';
	font-size: 1vw;
	margin-top: 12%;
	margin-bottom: 2%;
	font-weight: 400;
 }

#Picture {
	margin-bottom: 2%;
	margin-top: 8%;
	border-radius: 100%;
/*	height: 150px;
	width: 145px;
*/	max-width: 17%;
    height: auto;
	border: medium solid #DBDADA;
}
