@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}
html, body {
  background-color:#45616F;
  text-align:center;
  color:#FFF;
}
h1 {
	font-family: 'Roboto';
	font-size:38px;
}
h2 {
	font-family: 'Roboto';
	font-size:24px;
	padding-bottom:1%;
}
h4 {
	margin-bottom: 2%;
}
p {
	margin-right: 15%;	
	margin-left: 15%;	
	font-family: 'Roboto-Thin';
	font-size:19px;	
}
/*--------------------------------------------------------*/

/*Navbar Styling*/
.navbar {
	background-color: #fff;
	margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
    border-color: #45616F;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #45616F;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #45616F;
}

.navbar-toggle {
	margin-left: 6%;
	background-color:#fff;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #45616F;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45616F;
    text-decoration:underline;
}
.navbar li {
	font-family:'Roboto-Thin';
	font-size:1.3vw;
}
/*Styling of the expanded navbar*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
	.navbar-nav {
	    float: left;
	    margin-left: 7%;
	}
	.navbar-right {
    	float: right!important;
    	margin-right: 7%;
    	margin-left: 0%;
	}
}
/*Some styling of the collapsed navbar*/
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-right {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}

/*--------------------------------------------------------*/

/* Carousel CSS */
.carousel {
	clear: both;
	width: 100%;
	height: auto;
	/*padding-bottom:2%;*/
}

/* Declare heights because of positioning of img element */
.carousel .item {
  	height: 500px;
  }
.carousel-inner > .item > img {
	width: auto;
	height: 500px;
	margin:auto;
	position: relative;
	top:0;
	left:0;
}
/*CSS for Carousel Description One Images*/
#m1 {
	width: 28%;
	margin: 2%;
}
#m2 {
	margin-top: 2%;
	margin-bottom:2%;
	width: 30%;
}
#m3 {
	margin: 2%;
	width: 25%;
}
/*--------------------------------------------------------*/

/*CSS for Carousel Slide Two description*/
.carousel-2-description {
	display:none;
}
/*--------------------------------------------------------*/

/*CSS for Carousel Slide Three description and its Images*/
.carousel-3-description {
	display:none;
}
#w1 {
	width: 100%;
	margin-bottom: 3%;
}
#w2 {
	width: 100%;
	margin-bottom: 3%;
}
#w3 {
	width: 100%;
	margin-bottom: 3%;
}
.wwImages {
	margin-left: 5%;
	margin-right: 5%;
}
@media(min-width: 768px) {
	#w1 {
		width: 100%;
		margin-bottom: 3%;
		margin-top: 5%;
	}
	#w2 {
		width: 100%;
		margin-bottom: 3%;
		margin-top: 5%;
	}
	#w3 {
		width: 100%;
		margin-bottom: 3%;
		margin-top: 5%;
	}
}
/*--------------------------------------------------------*/

/*CSS for Carousel Slide Four description*/
.carousel-4-description {
	display:none;
}
/*--------------------------------------------------------*/

/*CSS for Scroll up Button*/
#topButton {
	background-color:#FFF;
	visibility:hidden;
	clear: both;
	padding: 1%;
	margin-right:5%;
	float:right;
	border:thin solid #000;
}
#topButton:hover {
	cursor:pointer;
	background-color:#333;
}
/*--------------------------------------------------------*/

#button-nav {
	padding-top: 3%;
	margin-bottom: 3%;
	clear:both;
}
.glyphicon-arrow-left {
	padding:1%;
	background-color:#FFF;
	border:thin solid #000;
	margin-right: 5%;
}
.glyphicon-arrow-right {
	padding:1%;
	background-color:#FFF;
	border:thin solid #000;
	margin-left: 5%;
}
.glyphicon-arrow-left:hover {
	cursor:pointer;
	background-color:#333;
}
.glyphicon-arrow-right:hover {
	cursor:pointer;
	background-color:#333;
}

footer {
	clear:right;
	margin-bottom: 2%;
	font-family: 'Roboto';
	font-size:15px;
}