@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(../Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(../Fonts/Roboto-Regular.ttf);
}

html, body {
  background-color:#45616F;
  text-align:center;
  color:#FFF;
}
h1 {
	font-family: 'Roboto';
	font-size:38px;
}
h2 {
	font-family: 'Roboto';
	font-size:24px;
	padding-bottom:1%;
}
h4 {
	margin-bottom: 2%;
}
p {
	margin-right: 10%;	
	margin-left: 10%;	
	font-family: 'Roboto-Thin';
	font-size:19px;	
}
img {
	width: 100%;
}
/*--------------------------------------------------------*/

/*Navbar Styling*/
.navbar {
	background-color: #fff;
	margin-bottom: 0px;
}
.navbar-default .navbar-toggle {
    border-color: #45616F;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #45616F;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #45616F;
}
.navbar-toggle {
	margin-left: 4%;
	background-color:#fff;
}
.navbar-default .navbar-nav>li>a {
    color: #45616F;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #45616F;
    text-decoration:underline;
}
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}
.navbar li {
	font-family: 'Roboto-Thin';
	font-size: 20px;
}
/*Styling of the expanded navbar*/
@media (min-width: 768px) {
	.navbar {
		border-radius: 0px;
	}
	.navbar-nav {
	    float: left;
	    margin-left: 7%;
	}
	.navbar-right {
    	float: right!important;
    	margin-right: 7%;
	}
}
/*Some styling of the collapsed navbar*/
@media (max-width: 768px) {
	.navbar-nav {
		margin-top: 15px;
	}
	.navbar-right {
		margin-top: 0px;
		margin-bottom: 15px;
	}
}

.mmImages, .wwImages {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 3%;
	margin-top: 3%;
}

/* Carousel CSS */
.carousel {
	height: auto;
	margin-bottom:2%;
}

/* Declare heights because of positioning of img element */
.carousel-inner > .item > img {
	width: 85vw;
	margin: auto;
}

/*CSS for Images in Carousel Descriptions*/
@media(max-width: 1000px) {
	#m1, #m2, #m3 {
		margin-bottom: 3%;
		margin-top: 5%;
	}
}
@media(max-width: 1000px) {
	#w1, #w2, #w3 {
		margin-bottom: 3%;
		margin-top: 5%;
	}
}

/*CSS for Carousel Slide Two description and its Images*/
.carousel-2-description, .carousel-3-description, .carousel-4-description {
	display: none;
}


.up-button {
	clear: both;
	visibility:hidden;
	margin-right:5%;
	float:right;
	background-color: #FFF;
	border-color: #FFF;
}

#button-nav {
	padding-top: 3%;
	margin-bottom: 3%;
	clear: both;
}

.left-button {
	border-color: #FFF;
	background-color: #FFF;
	margin-right: 2%;
}
.right-button {
	border-color: #FFF;
	background-color:#FFF;
	margin-left: 2%;
}
.left-button:hover, .right-button:hover, .up-button:hover {
	border-color: #FFF;
	background-color:#FFF;
	cursor:pointer;
}

@media(max-width: 768px) {
	#button-nav {
		margin-bottom: 12%;
	}
	.glyphicon-arrow-left {
		padding:3%;
		margin-right: 5%;
	}
	.glyphicon-arrow-right {
		padding:3%;
		margin-left: 5%;
	}
	#topButton {
		padding:3%;
	}
	p {
		margin-left: 5%;
		margin-right: 5%;
	}
}

.col-centered {
    display:inline-block;
    float:none;
}

footer {
	clear:right;
	margin-bottom: 2%;
	font-family: 'Roboto';
}

@media(min-width: 800px) {
	footer {
		font-size: 14px;
	}
	.vertical-align {
	    display: flex;
	    align-items: center;
	}
}
@media(max-width: 800px) {
	footer {
		font-size: 12px;
	}
	.carousel-indicators {
		bottom: 0px;
	}
}