@import "home";
@import "about";
@import "projects";
@import "contact";

html, body {
  height: 100%;
}

body {
  background-color: #263238;
  color: white;
}

a:link, a:visited {
  color: white;
}

a {
  transition: all 300ms ease-in-out;
  border-bottom: 1px solid transparent;
  border-bottom-width: 1.5px;
}

a:hover {
  transition: all 300ms ease-in-out;
  padding-bottom: 0.375em;
  border-bottom-color: #ffab40;
}
