@charset "utf-8";
/* CSS Document */

body {
	background-color:#DBDADA;
}

.Menu-Close {
	top: 15px;
	left: -260px;
  	position: fixed;
  	width: 250px;
	cursor: pointer;
	visibility: visible;
	background-color: #393939;
	border-top: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
	border-bottom: 2px solid #636366;
}

.Navigation {
	left: -260px;
	position: fixed;
	width: 250px;
	color: #737373;
	top: 70px;
	background-color: #393939;
	border-bottom: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
}

.Navigation a:hover {
	color: #7784B6;
}

.Navigation ul {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.Navigation li {
	border-top: 2px solid #636366;
	line-height: 40px;
}

.Navigation a {
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFFFFF;
}

.Menu {
	font-size: 1.2em;
	padding-left: 2%;
	cursor: pointer;
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Links li {
	display: inline;
	float: right;
	margin-right: 1%;
	padding-top: 14px;
	padding-right: 0px;
}

.Links img {
	padding-right: 15px;
}

.hovershow {
	display: none;
}

.hovercontainer:hover .hovershow {
	display: inline;
}

.hovercontainer:hover .hoverhide {
	display: none;
}

.jumbotron {
	clear: both;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	background: #7784B6;
	padding-bottom: 20px;
	padding-top: 20px;
}

.content-1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-1 p {
	margin-left: 6%;
	margin-right: 6%;
}

.content-1 h3 {
	text-decoration: underline;
	margin-left: 4%;
}

.bottom-half {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 4%;
}

.bottom-half h3 {
	text-decoration: underline;
}

.bottom-half li {
	margin-left: 4%;
	margin-right: 4%;
	width: 100%;
}

.content-2 {
	float: left;
	align-content: center;
	width: 50%;
}
.content-3 {
	float: right;
	align-content: center;
	width: 43%;
	margin-right: 0px;
	padding-right: 0px;
	margin-left: 0px;
}

.Resume {
	clear: both;
	padding-top: 21px;
}
.Resume h4 {
	text-align: center;
}

footer {
	text-align: center;
	background: #7784B6;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	clear: both;
	padding-top: 1%;
	padding-bottom: 1%;
}
