@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

html, body {
	text-align: center;
	color:#FFF;
	background-color:#45616F;
}

/* Navigation Bar */
#home {
	margin-left:10%;
	float:left;
}
#end {
	margin-right:10%;
}
.navigation > li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}
.navigation li a {
	text-decoration:none;
	color:#FFF;
}
.navigation li a:hover {
	text-decoration:underline;
}
/*--------------------------------------------------------*/

/*About Me*/
p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	padding-top:3%;
}
#title {
	opacity:0;
	font-family: 'Roboto';
	font-size: 50px;
	clear:both;
	padding-top:1%;
}
.main {
	opacity:0;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
}

.content {
	opacity:0;
	overflow:auto;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 4%;
}
#piano {
	margin-left:3%;
	margin-top: 3%;
	margin-bottom:2%;
	float:right;
	width: 50%;
}
.music h3 {
	font-family: 'Roboto';
	font-size: 30px;
}
/*--------------------------------------------------------*/

/*Awards and Achievements Section*/
#awards {
	clear: both;
	margin-left: 15%;
	margin-right: 15%;
	opacity: 0;
}
#awards h3 {
	text-decoration:underline;
	font-family: 'Roboto';
	font-size: 34px;
	margin-top: -1.5%;
	margin-bottom: 3.5%;
}
#awards h4 {
	font-size:22px;
}
#awards p {
	margin-top: -3%;
	margin-bottom: 4%;	
}
/*--------------------------------------------------------*/

/*CSS for Scroll up Button*/
#topButton {
	clear: both;
	background-color:#FFF;
	visibility:hidden;
	padding: 1%;
	margin-right:5%;
	float:right;
	border:thin solid #000;
}
#topButton:hover {
	cursor:pointer;
	background-color:#333;
}
/*--------------------------------------------------------*/

footer {
	clear: both;
	margin-bottom: 2%;
	text-align:center;
	font-family: 'Roboto';
	font-size:16px;
}

