@charset "utf-8";
/* CSS Document */

/* General CSS*/
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto-Regular.ttf);
}

html, body {
	text-align: center;
	color:#FFF;
	background-color:#45616F;
}
p, h4, h3 {
	margin-left: 15%;
	margin-right: 15%;
}
h4 {
	font-size:22px;
}

/* Navigation Bar */
#home {
	margin-left:10%;
	float:left;
}
#end {
	margin-right:10%;
}
.navigation > li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:1.5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}
.navigation li a {
	text-decoration:none;
	color:#FFF;
}
.navigation li a:hover {
	text-decoration:underline;
}
/*--------------------------------------------------------*/

h3 {
	text-decoration:underline;
	font-family: 'Roboto';
	font-size: 34px;
	margin-bottom: 2.5%;
}

/*About Me*/
p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	padding-top:2%;
}
#title {
	opacity:0;
	font-family: 'Roboto';
	font-size: 50px;
	clear:both;
	padding-top:1%;
}
.main {
	opacity:0;
	margin-bottom: 1%;
}

.content {
	opacity:0;
	overflow:auto;
	margin-bottom: 2.5%;
}
#piano {
	margin-left:3%;
	margin-top: 2%;
	margin-right: 15%;
	margin-bottom: 2%;
	float:right;
	width: 40%;
}
/*--------------------------------------------------------*/

/*Awards and Achievements Section*/
#awards {
	clear: both;
	opacity: 0;
	margin-bottom:2%;
}
#awards p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	margin-top: -2.1%;
	margin-bottom: 2.5%;		
}
/*--------------------------------------------------------*/

/*Volunteer Experience Section*/
#volunteer {
	padding-top:0.5%;
	opacity: 0;
	clear:both;
}
#volunteer p {
	font-family: 'Roboto-Thin';
	font-size: 19px;
	margin-top: -2.1%;
	margin-bottom: 2.5%;	
}
/*--------------------------------------------------------*/

/*CSS for Scroll up Button*/
#topButton {
	clear: both;
	background-color:#FFF;
	visibility:hidden;
	padding: 1%;
	margin-right:5%;
	float:right;
	border:thin solid #000;
}
#topButton:hover {
	cursor:pointer;
	background-color:#333;
}
/*--------------------------------------------------------*/

footer {
	clear: both;
	margin-bottom: 2%;
	font-family: 'Roboto';
	font-size:16px;
}

