@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

#home {
	margin-left:10%;
	float:left;
}
#end {
	margin-right:10%;
}
.navigation > li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}

h1 {
	clear:both;
}

footer {
	margin-bottom: 2%;
	text-align:center;
	font-family: 'Roboto';
	font-size:16px;
}

