body {
	background-color:#DBDADA;
}

.Menu-Close {
	top: 15px;
	left: -260px;
  	position: fixed;
  	width: 250px;
	cursor: pointer;
	visibility: visible;
	background-color: #393939;
	border-top: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
	border-bottom: 2px solid #636366;
}

.Navigation {
	left: -260px;
	position: fixed;
	width: 250px;
	color: #737373;
	top: 70px;
	background-color: #393939;
	border-bottom: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
}

.Navigation a:hover {
	color: #7784B6;
}

.Navigation ul {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.Navigation li {
	border-top: 2px solid #636366;
	line-height: 40px;
}

.Navigation a {
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFFFFF;
}

.Navigation a:hover {
	color: #7784B6;
}

.Menu {
	font-size: 1.2em;
	padding-left: 2%;
	cursor: pointer;
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Links li {
	display: inline;
	float: right;
	margin-right: 1%;
	padding-top: 14px;
	padding-right: 0px;
}

.Links img {
	padding-right: 15px;
}

.jumbotron {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	background: #7784B6;
	padding-bottom: 20px;
	padding-top: 20px;
}

.Left-Side {
	float: left;
	margin-left: 5%;
}

.Right-Side {
	align-content: center;
	margin-right: 5%;
	float: right;
	text-align: center;
}

#textbox {
	width: 100%;
	height: 10em;
	text-align: left;
	text-indent: 20px;
}

.Submission {
	cursor: pointer;
	background-color: #7784B6;
	margin-left: 40%;
	margin-right: 40%;
	border: thin solid #6C6A6A;
	margin-top: 4%;
}
