@charset "utf-8";
/* CSS Document */
 
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 80%; /* For at least Firefox */
  min-height: 80%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 2%;
	margin-bottom: 5%;
}


/*
 * Header
 */
.masthead-brand {
	margin-top: 1.5%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-transform: capitalize;
	font-weight: normal;
	letter-spacing: normal;
	color: #C8C8C8;
	margin-left: 1%;
	font-variant: normal;
	font-style: normal;
	font-size: medium;
	text-shadow: 0 0px;
  
}

.masthead-nav > li {
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 15px;
	font-weight: normal;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-variant: normal;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

@media (min-width: 768px) {
  .masthead-brand {
	float: left;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-top: 14px;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-heading {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: lighter;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	word-spacing: 0.2px;
	margin-bottom: -14px;
}
.Subtitle {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-variant: small-caps;
	font-weight: lighter;
	word-spacing: 0.01em;
}
.description {
	padding-left: 10%;
	padding-right: 10%;
}
.lead {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding-left: 4%;
	padding-right: 4%;
	letter-spacing: 0em;
	padding-top: 2.1%;
}


#old-site {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom: 1%;
	margin-top: 3%;
}

/*
 * Footer
 */
 footer {
	text-align: center;
	font-style: normal;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	padding-top: 1%;
	padding-bottom: 1%;
	font-weight: 400;
 }


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  
  .cover-container {
    width: 1000px;
  }
}

#Picture {
	margin-top: 10%;
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: medium solid #DBDADA;
}
