@charset "utf-8";
/* CSS Document */
 
@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:#45616F;
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 80%; /* For at least Firefox */
  min-height: 80%;
  
}

/* Padding for spacing */
.inner {
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 3%;
}

#home {
	margin-left:10%;
	float:left;
}
#end {
	margin-right:10%;
}
.navigation > li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}
.navigation li a {
	text-decoration:none;
	color:#FFF;
}
.navigation li a:hover {
	text-decoration:underline;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-heading {
	font-family: 'Roboto';
	font-weight: lighter;
	font-size: 45px;
	letter-spacing: 0.02em;
	word-spacing: 0.2px;
	margin-bottom: -14px;
}
.Subtitle {
	font-family: 'Roboto-Thin';
	font-size: 25px;
	font-variant: small-caps;
	font-weight: lighter;
	word-spacing: 0.01em;
}
.lead {
	font-family: 'Roboto-Thin';
	font-size: 18px;
	padding-left: 16%;
	padding-right: 16%;
	letter-spacing: 0em;
	padding-top: 2.5%;
	margin-bottom:7%;
}

#old-site {
	text-decoration: underline;
	color:#FFFFFF;
	font-family: 'Roboto-Thin';
}

/*
 * Footer
 */
 footer {
	text-align: center;
	font-style: normal;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	padding-top: 2%;
	padding-bottom: 1%;
	font-weight: 400;
 }


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

#Picture {
	margin-bottom:-1%;
	margin-top: 8%;
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: medium solid #DBDADA;
}
