@charset "UTF-8";


.Menu-Close {
	left: -285px;  /* start off behind the scenes */
  	position: fixed;
  	width: 285px;
	cursor: pointer;
}

.Navigation {
	left: -285px; 
  	position: fixed;
  	width: 285px;
	text-decoration: none;
	font-size: 20px;
	color: #737373;
}

.Menu-Icon {
	cursor: pointer;
	float: left;
	top: 0px;
	padding-top: 0px;
}

.jumbotron {
	line-height: 20px;
	font-size: 25px;
	text-align: center;
	background: #979797;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
}

.Links li {
	padding-right: 20px;
	display: inline;
	right: 127px;
	float: right;
	margin-left: 10px;
	padding-top: 20px;
}

footer {
	text-align: center;
	background: #979797;
}
