@charset "UTF-8";

body {
	background-color:#DBDADA;
}

.Menu-Close {
	top: 15px;
	left: -260px;
  	position: fixed;
	width: 250px;
	background-color: #393939;
	border-top: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
	border-bottom: 2px solid #636366;
}

.Menu-Close img {
	cursor: pointer;
	padding-left: 1.6%;
}

.Navigation {
	left: -260px;
	position: fixed;
	width: 250px;
	color: #737373;
	top: 70px;
	background-color: #393939;
	border-bottom: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
}

.Navigation a:hover {
	color: #7784B6;
}

.Navigation ul {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.Navigation li {
	border-top: 2px solid #636366;
	line-height: 40px;
}

.Navigation a {
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFFFFF;
}

.Menu {
	font-size: 1.2em;
	padding-left: 2%;
	cursor: pointer;
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hovershow {
	display: none;
}

.hovercontainer:hover .hovershow {
	display: inline;
}

.hovercontainer:hover .hoverhide {
	display: none;
}

.jumbotron {
	clear: both;
	line-height: 20px;
	font-size: 25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	background: #7784B6;
	padding-bottom: 20px;
	padding-top: 120px;
}

.jumbotron img {
	border-radius: 100%;
	height: 125px;
	width: 125px;
	border: medium solid #DBDADA;
}

.Links li {
	display: inline;
	float: right;
	margin-right: 1%;
	padding-top: 14px;
	padding-right: 0px;
}

.Links img {
	padding-right: 15px;
}

.description {
	display: none;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 1.2em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#new-site {
	clear: both;
	text-align: center;
}

footer {
	text-align: center;
	background: #7784B6;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	padding-top: 1%;
	padding-bottom: 1%;
}