@charset "UTF-8";

body {
	background-color:#DBDADA;
}

.Menu-Close {
	top: 15px;
	left: -260px;  /* start off behind the scenes */
  	position: fixed;
  	width: 250px;
	cursor: pointer;
	visibility: visible;
	background-color: #393939;
	border-top: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
	border-bottom: 2px solid #636366;
}

.Navigation {
	left: -260px;
	position: fixed;
	width: 250px;
	color: #737373;
	top: 70px;
	background-color: #393939;
	border-bottom: 4px solid #636366;
	border-left: 4px solid #636366;
	border-right: 4px solid #636366;
}

.Navigation ul {
	list-style: none;
	margin: 0;
  	padding: 0;
}

.Navigation li {
	border-top: 2px solid #636366;
	line-height: 40px;
}

.Navigation a {
	padding-left: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #FFFFFF;
}

.Menu {
	font-size: 1.2em;
	padding-left: 1%;
	cursor: pointer;
	float: left;
	top: 0px;
	padding-top: 0px;
}

.jumbotron {
	line-height: 20px;
	font-size: 25px;
	text-align: center;
	background: #979797;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
}

.Links li {
	display: inline;
	float: right;
	margin-right: 1%;
	padding-top: 13px;
	padding-right: 0px;
}

footer {
	text-align: center;
	background: #979797;
}
