@charset "UTF-8";
/* CSS Document */

body {
	background-color:#DBDADA;
}

.Menu-Close {
	cursor: pointer;
}

.Navigation {
	left: -285px;  /* start off behind the scenes */
  	height: 100%;
  	position: fixed;
  	width: 285px;
	font-size: 20px;
	color: #737373;
}

.Menu-Icon {
	cursor: pointer;
}

.jumbotron {
	line-height: 20px;
	font-size: 25px;
	text-align: center;
	background:#979797;
	padding-bottom: 50px;
	padding-top: 50px;
}

.Links h3 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: grey;
}

.Links li {
	padding-right: 20px;
	display: inline;
}


