@charset "UTF-8";
/* CSS Document */

.Navigation a {
	font-size: 20px;
	padding: 10px 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #737373;
}

.Navigation li {
	display: inline;
}


