@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

#home {
	float: left;
	display: inline;
	list-style-type: none;
	padding-top: 1%;
	margin-left: 10%;
}
#end {
	margin-right:10%;
}
.navigation li {
	font-family:'Roboto-Thin';
	font-size:16px;
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:2%;
	padding-top: 1%;
	padding-bottom: 1%;
}
.navigation:after {
  content:"";
  display:table;
  clear:both;
}
.navigation {
	background-color:#333;
}
.navigation li a {
	text-decoration:none;
	color:#FFF;
}
.navigation li a:hover {
	text-decoration:underline;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
	background-color:#414040;
	clear: both;
	height: 500px;
	padding-bottom:2%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  	height: 500px;
  }
.carousel-inner > .item > img {
	width: auto;
	height: auto;
	margin:auto;
	position: relative;
	top:0;
	left:0;
}

/*CSS for Carousel Description 1 and its images*/
.carousel-1-description {	
	display:block;
	background-color:#333;
	color:#FFF;	
	text-align:center;
	position:relative;
}
.carousel-1-description h1 {	
	font-family: 'Roboto';
	font-size:38px;
}
.carousel-1-description h2 {
	font-family: 'Roboto';
	font-size:22px;
	padding-bottom:20px;
}
.carousel-1-description p {
	margin-right: 10%;	
	margin-left: 10%;	
	font-family: 'Roboto-Thin';
	font-size:19px;	
}
#m1 {
	width: 25%;
	margin: 2%;
}
#m2 {
	margin-top: 2%;
	margin-bottom:2%;
	width: 40%;
}
#m3 {
	margin: 2%;
	width: 25%;
}

/*CSS for Carousel Slide Two description*/
.carousel-2-description {
	display:none;
	position:relative;
	text-align:center;
	background-color:#333;
	color:#FFF;		
}
.carousel-2-description h1 {
	font-family: 'Roboto';
	font-size:38px;
}
.carousel-2-description h2 {
	font-family: 'Roboto';
	font-size:22px;
	padding-bottom:20px;
}
.carousel-2-description p {
	margin-right: 10%;	
	margin-left: 10%;	
	font-family: 'Roboto-Thin';
	font-size:19px;	
}

/*CSS for Carousel Slide Three description*/
.carousel-3-description {
	display:none;
	position:relative;
	text-align:center;
	background-color:#333;
	color:#FFF;	
}
.carousel-3-description h1 {
	font-family: 'Roboto';
	font-size:38px;
}
.carousel-3-description h2 {
	font-family: 'Roboto';
	font-size:22px;
	padding-bottom:20px;
}
.carousel-3-description p {
	margin-right: 10%;	
	margin-left: 10%;	
	font-family: 'Roboto-Thin';
	font-size:19px;
}
#w1 {
	margin-left:5%;
	width: 20%;
	margin-right:2%;
}
#w2 {
	width: 20%;
}
#w3 {
	margin-top: 2%;
	margin-left:2%;
	width: 40%;
	margin-right:5%;
	margin-bottom: 3%;
}

#topButton {
	background-color:#FFF;
	visibility:hidden;
	padding: 1%;
	margin-right:5%;
	float:right;
	border:thin solid #000;
}
#topButton:hover {
	cursor:pointer;
	background-color:#45616F;
}

footer {
	clear:right;
	margin-bottom: 2%;
	text-align:center;
	font-family: 'Roboto';
	font-size:16px;
	background-color:#333;
	color:#FFF;	
}
html, body {
  height: 100%;
  background-color:#333;
}