@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Roboto-Thin'; 
   	src: url(Fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto'; 
   	src: url(Fonts/Roboto.ttf);
}

.nav-wrapper {
	width: auto;
	height: 40px;
	background-color: #DBDBDB;
}
#home {
	float: left;
	display: inline;
	list-style-type: none;
	padding-top: 10px;
	margin-left: 200px;
}
#end {
	margin-right:200px;
}
.navigation > li {
	list-style-type:none;
	float: right; 
	display:inline;
	margin-right:50px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel {
	clear: both;
	height: 500px;
	margin-bottom: 2%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  	height: 500px;
  }
.carousel-inner > .item > img {
	width: auto;
	height: auto;
	margin:auto;
	position: relative;
	top:0;
	left:0;
}
.carousel-1-description {
	color:#000000;	
	position:relative;
}

.carousel-1-description h1 {	
	text-align:center;
	font-family: 'Roboto';
	font-size:38px;
}
.carousel-1-description h2 {
	text-align:center;
	font-family: 'Roboto';
	font-size:22px;
	padding-bottom:20px;
}
.carousel-1-description p {
	text-align:center;
	font-family: 'Roboto-Thin';
	font-size:19px;	
}

.carousel-2-description {
	display:none;
	position:relative;
	text-align:center;
	font-size:24px;
	font-family: 'Roboto-Thin';
	color:#000000;	
}
