#contact {
  background-color: $contact-bg-color;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;

  .contact-info {
    margin-bottom: 3.5%;

    li {
      @extend %list-element;
      margin-left: 1.5%;
      margin-right: 1.5%;
    }
  }

  .copyright {
    @media (max-width: $small-max-width - 100px) {
       font-size: 0.65rem;
    }

    @media (min-width: $medium-max-width) {
       font-size: 0.9rem;
    }
  }
}
