#projects {
  p, .projects-link {
    @media (max-width: $small-max-width) {
      font-size: 1.1rem;
    }

    @media (min-width: $small-max-width) and (max-width: $medium-max-width) {
      font-size: 1.13rem;
    }

    @media (min-width: $large-max-width) {
      font-size: 1.2rem;
    }

    .projects-link, .projects-link:hover {
      padding-bottom: 0;
      border-bottom: 1px solid transparent;
      border-bottom-color: $highlight-font-color;
    }
  }

  @media (max-width: $small-max-width) {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10%;
  }

  @media (min-width: $small-max-width) {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
  }

  .projects-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 0;

    .projects-title {
      font-weight: 100;
      text-transform: uppercase;
      padding-bottom: 2%;

      @media (max-width: $small-max-width) {
        padding-bottom: 5%;
        font-size: 3rem;
      }

      @media (min-width: $small-max-width) and (max-width: $medium-max-width) {
        font-size: 3.5rem;
      }
    }

    .card {
      background-color: $card-bg-color;

      .card-title {
        margin-bottom: 0px;

        @media (max-width: $small-max-width) {
          font-size: 1.5rem;
        }
      }

      .card-content {
        padding: 5%;
        text-align: center;
      }

      .card-reveal {
        background-color: $card-bg-color;

        p {
          @media (max-width: $small-max-width - 150px) {
            font-size: 1rem;
          }
        }
      }

      .card-action {
        padding: 4%;

        a {
          color: $highlight-font-color;
          margin: 0;
          transition: all 300ms ease-in-out;

          &:hover, &:visited {
            color: $highlight-font-color;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
