#scroll {
  background-color: transparent;
  display: none;
  padding: 0;

  i {
    opacity: 0.85;
    color: $highlight-font-color;

    @media (max-width: $small-max-width) {
      font-size: 1.2rem;
    }

    @media (min-width: $medium-max-width) {
      font-size: 1.4rem;
    }
  }

  position: fixed;
  bottom: 2%;
  right: 2%;
}
